* {
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    box-sizing: border-box;
  }
  
  body {
    background: #252525;
  
    object-fit: cover;
  }
// 導覽列
  .navbar {
    width: 100%;
    object-fit: cover;
    border: 0.1px solid rgba(0,0,0,0);
  }
// 輪播圖
  .carousel-item{ 
    //   object-fit: cover;
      img {
        width: 100%;
        object-fit: cover;
      }
  }
  //神奇圈圈 
#box {
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 360px;
  width: 595px;
  height: 595px;
}

#circle {
  animation: rotate 15s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(72deg);
  }
  40% {
    transform: rotate(144deg);
  }
  60% {
    transform: rotate(216deg);
  }
  80% {
    transform: rotate(288deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
// 酒種介紹
.row {
  margin: 50px;
 object-fit: cover;
}

// footer
.text-center {
  background-color: #252525;
}

